:root {
    --bg-page: hsl(30, 38%, 92%);
    --bg-card: hsl(0, 0%, 100%);

    --text-color: hsl(228, 12%, 48%);
    --heading-color: hsl(212, 21%, 14%);

    --primary-accent-color: hsl(158, 36%, 37%);
    --primary-accent-hover-color: hsl(158, 42%, 18%);

    --btn-text-color: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    background-color: var(--bg-page);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    font-family: "Fraunces", serif;
    font-weight: 700;
    line-height: 1;
    font-size: 2rem;
    color: var(--heading-color);
}

p {
    color: var(--text-color);
}

main {
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 0.75rem;
}

.card {
    display: grid;
    min-width: 21.875rem;
    max-width: 37.5rem;
    width: 70%;
    background-color: var(--bg-card);
    border-radius: 0.5rem;
    overflow: hidden;

    @media (min-width: 48rem) {
        grid-template-columns: 1fr 1fr;
    }
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body,
.text-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card-body {
    padding: 2rem;

    @media (min-width: 48rem) {
        gap: 2rem;
    }
}

.tag {
    font-size: 0.75rem;
    line-height: 1.2;
    letter-spacing: 0.313rem;
    text-transform: uppercase;
}

.description {
    line-height: 1.6;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1;
    color: var(--primary-accent-color);
}

.strikethrough-price {
    font-size: 0.813rem;
    line-height: 1.2;
}

.primary-btn {
    font-family: inherit;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
    background-color: var(--primary-accent-color);
    border: none;
    color: var(--btn-text-color);
    border-radius: 0.5rem;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-accent-hover-color);
    }
}
